h1{
    padding: 34px;
    text-align: center;
    font-size: 80px;
}

.logo{
    border-radius: 100%;
    display: block;
    margin: auto;
    height: 250px;
    padding: 100px;
}
    
.contactimages{
    text-align: center;
    margin-top: 70px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
}

.links{
    margin: 50px;
    height: 100px;
}
